{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  <div class="flex flex-col justify-end product-variant--{{forloop.index}}">
    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
      {{ input_dataset }}
    >
    {% assign forloop_index = forloop.index | minus: 1 %}
    {% assign variant = product.variants[forloop_index] %}
    {% assign number_of_items = variant.metafields.custom.product_count %}

    <label for="{{ input_id }}" class="!p-0 !bg-transparent !rounded-[16px] !border-none !m-0">
      <div class="new-lp-variant-content flex flex-col justify-end border border-[#333333] rounded-[16px]">
        {% if variant.metafields.custom.badge %}
          <div
            class="rounded-t-[16px] text-[14px] md:text-[18px] font-bold bg-[#000C38] !leading-tight text-[#fff] p-[6px] tracking-normal"
          >
            {{ variant.metafields.custom.badge }}
          </div>
        {% endif %}

        <div class="p-2 md:p-4 rounded-b-[16px]">
          {% if variant.metafields.custom.variant_image %}
            <div class="relative">
              {% if variant.metafields.custom.free_shipping %}
                {{
                  variant.metafields.custom.free_shipping_image
                  | image_url: width: 60
                  | image_tag:
                    class: 'w-full max-w-[50px] h-fit object-contain absolute top-0  right-0',
                    sizes: '60px',
                    preload: true
                }}
              {% endif %}
              {{
                variant.metafields.custom.variant_image
                | image_url: width: 300
                | image_tag: class: 'w-full h-full max-h-[70px] md:max-h-[120px] object-contain mx-auto', sizes: '300px', preload: true
              }}
            </div>
          {% endif %}

          <div class="new-lp-variant-title text-[#333333] font-bold !text-[16px] md:!text-[20px] mt-3 [&>strong]:text-[#D30101] tracking-normal">
            {{ value |  highlight: block.settings.highlight_text -}}
            {{ label_unavailable }}
          </div>

          <div class="new-lp-variant-price text-[#333333] font-medium !text-[14px] md:!text-[16px] mt-2 md:mt-3 tracking-normal">
            {{ variant.price |  divided_by: number_of_items | money -}}
            {%- unless number_of_items == 1 %}/each{% endunless %}
          </div>
        </div>
      </div>
    </label>
  </div>
{%- endfor -%}
