{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    class="subscription-type-variant-select"
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}

      {% if option.name == 'Count' %}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          <div class="grid grid-cols-3 gap-2 md:gap-3">
            {% render 'product-variant-options-quinary-sibling',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </div>
          <div class="flex flex-col gap-3">
            <div class="border border-[#00B7A2] rounded-[10px] p-3 md:p-4">
            </div>
            <div class="border border-[#D9DDE0] rounded-[10px] p-3 md:p-4">
            </div>
          </div>
        </fieldset>
      {% else %}
        <fieldset class="js product-form__input product-form__input--pill">
          {% if option.name == 'Scent' %}
            <legend class="form__label">Select your scent</legend>
          {% else %}
            <legend class="form__label">{{ option.name }}</legend>
          {% endif %}
          {% render 'product-variant-options-quinary',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {% endif %}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}

<style>
  .subscription-type-variant-select .product-form__input--pill input[type='radio'] + label {
    border: 1px solid #d9dde0;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: 500;
    color: #001c19;
  }
  .subscription-type-variant-select .product-form__input--pill input[type='radio']:checked + label {
    border: 1px solid #00b7a2;
    background: #edfffd;
  }
</style>
