{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  <div class="flex flex-col justify-end product-variant--{{forloop.index}}">
    <input
      type="radio"
      class="new-lp-variant--inut-sub"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
      {{ input_dataset }}
    >
    {% assign forloop_index = forloop.index | times: 2 | minus: 1 %}
    {% assign variant = product.variants[forloop_index] %}

    {% assign sub_percent = variant.metafields.custom.subscription_discount | plus: 0 | divided_by: 100.000 %}
    {% assign inverted_percent = 1 | minus: sub_percent %}
    {% assign inverted_percent_plus = 1 | plus: sub_percent %}

    <label for="{{ input_id }}" {% if variant.metafields.custom.subscription_id != blank %} data-subscription-id="{{ variant.metafields.custom.subscription_id }}" {% endif %} class="new-lp-variant--label-sub !p-0 !bg-transparent !rounded-[16px] !border-none !m-0">
      <div {% if variant.metafields.custom.subscription_id != blank %} data-subscription-id="{{ variant.metafields.custom.subscription_id }}" {% endif %} class="new-lp-variant-content flex items-center justify-between gap-3 border border-[#D9DDE0] bg-[#FAFAFA] rounded-[10px] relative p-2 md:p-3 transition-all duration-200">
        {% if variant.metafields.custom.badge %}
          <div
            class="rounded-t-[16px] text-[14px] md:text-[18px] font-bold bg-[#000] !leading-tight text-[#fff] p-[6px] tracking-normal absolute top-0 left-0"
          >
            {{ variant.metafields.custom.badge }}
          </div>
        {% endif %}

        <div class="new-lp-variant-radio w-5 h-5 min-w-5 border-[2px] border-[#ccc] rounded-[20px] group-[.active]:border-[#00B7A2] !flex items-center justify-center">
          <div class="new-lp-variant-radio__circle w-[10px] h-[10px] min-w-[10px] rounded-[10px] bg-[#00B7A2] hidden group-[.active]:!block"></div>
        </div>

        <div class="flex flex-col gap-1 flex-1">
          <div class="new-lp-variant-title text-[#001C19] text-left font-bold !text-[16px] md:!text-[18px] [&>strong]:text-[#D30101] tracking-normal flex flex-col items-start gap-[6px]">
            <div class="flex items-center gap-2">
              <div class="whitespace-nowrap text-[15px] md:text-[17px]">
                {{ value | highlight: block.settings.highlight_text | highlight: block.settings.highlight_text_2 -}}
                {{ label_unavailable }}
              </div>
              <div class="text-white font-bold text-[11px] md:text-[12px] bg-[#1273B7] leading-tight px-2 py-1 rounded-[5px] w-fit text-center tracking-normal whitespace-nowrap">
                3 Months Supply
              </div>
            </div>

            {% assign variant_count = variant.metafields.custom.count %}
            {% if variant_count > 0 %}
              <span class="price-item price-item--savings !text-[#8E8E8E] !text-[14px] md:!text-[16px] font-normal tracking-normal">
                <span class="onetimecard-element">
                  {{ variant.price | divided_by: variant_count | money }} per toilet
                </span>
                <span class="subscription-element">
                  {{ variant.price | times: inverted_percent | divided_by: variant_count | money }} per toilet
                </span>
              </span>
            {% endif %}
          </div>
        </div>

        <div class="md:pr-6">
          {% assign price = variant.price %}
          {% assign price_sub = variant.price | times: inverted_percent %}
          {% assign compare_price = variant.compare_at_price %}

          {% if compare_price > price %}
            {% assign discount = compare_price | minus: price %}
            {% assign discount_sub = compare_price | minus: price_sub %}
            <span class="price-item price-item--savings !text-[#000] !text-[12px] md:!text-[14px] font-bold bg-[#E8FF33] leading-tight px-2 py-1 rounded-[5px] w-fit text-center tracking-normal whitespace-nowrap">
              <span class="onetimecard-element">
                Save {{ discount | money_without_trailing_zeros }}
              </span>
              <span class="subscription-element">
                Save {{ discount_sub | money_without_trailing_zeros }}
              </span>
            </span>
          {% endif %}
        </div>

        <div class="flex flex-col items-end gap-1">
          <div class="text-[18px] md:text-[22px] font-bold !leading-tight text-[#1a1a1a] tracking-normal">
            <span class="onetimecard-element">
              {{- variant.price | money_without_trailing_zeros -}}
            </span>
            <span class="subscription-element">
              {{- variant.price | times: inverted_percent | money_without_trailing_zeros -}}
            </span>
          </div>
          {% if variant.compare_at_price > variant.price %}
            <div class="text-[16px] md:text-[18px] font-normal !leading-tight text-[#666] line-through tracking-normal">
              {{ variant.compare_at_price | money_without_trailing_zeros }}
            </div>
          {% endif %}
        </div>
      </div>
    </label>
  </div>
{%- endfor -%}
