{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          {% if block.settings.label1 != blank %}
            <div class="pb-4 pt-2">
              <legend class="form__label text-[#333333] font-normal !leading-tight max-md:!text-xs !text-[18px] !flex justify-center relative w-full text-center">
                <div class="absolute w-full h-[1px] bg-[#333333] left-0 top-[6px] !block"></div>
                <div class="relative bg-[#fffaee] w-fit px-4 flex items-center justify-center gap-1">
                  {% if block.settings.label_icon != blank %}
                    {{
                      block.settings.label_icon
                      | image_url: width: 20
                      | image_tag: class: 'w-full max-w-[20px]', sizes: '20px'
                    }}
                  {% endif %}
                  <span>{{ block.settings.label1 }}</span>
                </div>
              </legend>
            </div>
          {% endif %}
          {% if block.settings.label2 != blank %}
            <div class="text-[#333333] font-normal !leading-tight max-md:!text-xs !text-[16px] !mb-2">
              {{ block.settings.label2 }}
            </div>
          {% endif %}
          <div class="grid grid-cols-{{ product.variants.size }} gap-1 md:gap-3">
            {% render 'product-variant-options-quinary',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </div>
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
