{% assign repeat_count = section.settings.repeat_count %}
{% assign max_width = section.settings.max_width %}
{% assign animation_length = section.settings.animation_length %}
{% assign total_width = repeat_count | times: max_width %}
{% assign half_width = total_width | divided_by: 2 %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding {
    overflow: hidden;
  }

  .section-{{ section.id }}-padding .nl-animation__wrapper {
    background-color: {{section.settings.bgcolor}};
    color: {{section.settings.text_color}};
  }

  .section-{{ section.id }}-padding .nl-animation__item {
    max-width: {{ max_width }}px;
    min-width: {{ max_width }}px;
  }

  .section-{{ section.id }}-padding .nl-animation {
    animation: NlAnimation-{{ section.id }} {{animation_length}}s linear infinite;
    width: {{total_width}}px;
  }
  @keyframes NlAnimation-{{ section.id }} {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-{{half_width}}px);
    }
  }
{%- endstyle -%}

<div id="{{ section.settings.section_id }}" class="section-{{ section.id }}-padding">
  <div class="nl-animation__wrapper">
    <div class="nl-animation flex items-center py-4">
      {% for i in (1..repeat_count) %}
        <div class="nl-animation__item flex items-center justify-between">
          {% for block in section.blocks %}
            <div class="flex items-center justify-center gap-5 px-5">
              {% if block.settings.icon != blank %}
                {{
                  block.settings.icon
                  | image_url: width: 28
                  | image_tag: class: 'w-full h-fit object-contain max-w-[28px]'
                }}
              {% endif %}
              {% if block.settings.show_dot %}
                <div
                  class="!block w-[7px] h-[7px] rounded-[10px]"
                  style="background-color: {{section.settings.text_color}};"
                ></div>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="font-medium text-[20px] md:text-[24px] !leading-[1] w-full">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "AH Animation",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "range",
      "id": "repeat_count",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "x",
      "label": "Repeat Count",
      "default": 5
    },
    {
      "type": "range",
      "id": "animation_length",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "x",
      "label": "Animation Length",
      "default": 50
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 100,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "label": "Min Width",
      "default": 360
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#08421f"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "checkbox",
          "id": "show_dot",
          "label": "Show Dot",
          "default": false
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AH Animation"
    }
  ]
}
{% endschema %}
