{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5 relative"
  style="background-color: {{ section.settings.bgcolor }}; background: linear-gradient(0deg, #01B7A2, #01B7A2)"
>
  {% if section.settings.bg != blank %}
    {{
      section.settings.bg
      | image_url: width: 1920
      | image_tag: class: 'absolute top-0 left-0 w-full h-full object-cover', sizes: '1920px'
    }}
  {% endif %}

  <div
    class="w-full h-full absolute top-0 left-0 !block"
    style="background: radial-gradient(21.84% 78.69% at -4.14% -27.12%, #E8FF33 0%, #00B7A2 100%);"
  ></div>

  <div class="mx-auto w-full relative" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-12">
      <div class="flex flex-col w-full gap-2">
        {% if section.settings.heading != blank %}
          <h2
            class="text-[24px] md:text-[36px] font-bold !leading-tight text-[#001C19] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div
            class="text-[16px] md:text-[18px] font-medium !leading-tight text-[#001C19] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if section.settings.description_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.description_color }};"
          >
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>

      {% assign max_width = section.settings.max_width %}
      {% comment %} {% assign max_width = section.settings.max_width |  divided_by: 2 %} {% endcomment %}
      {% assign max_width_px = max_width | append: 'px' %}
      {% if section.settings.image != blank %}
        {{
          section.settings.image
          | image_url: width: max_width
          | image_tag: class: 'w-full section-main-image', sizes: max_width_px
        }}
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="w-full">
          <div class="splide al-carousel__slider">
            <div class="splide__track pb-2">
              <ul class="splide__list">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'video' %}
                      <div class="splide__slide">
                        {% if block.settings.image != blank %}
                          {{
                            block.settings.image
                            | image_url: width: 400
                            | image_tag: class: 'w-full rounded-[20px] aspect-[3/4] object-cover', sizes: '400px'
                          }}
                        {% endif %}
                        {% if block.settings.video != blank %}
                          <div class="relative w-full overflow-hidden rounded-[20px] aspect-[3/4] nl-video-wrapper">
                            <video
                              src="{{ block.settings.video }}"
                              class="w-full h-full object-cover cursor-pointer nl-video"
                              playsinline
                              muted
                            ></video>

                            <div class="absolute inset-0 flex items-center justify-center nl-video-play-btn">
                              <div class="w-16 h-16 bg-black/60 rounded-full flex items-center justify-center">
                                <div
                                  class="
                                    w-0 h-0
                                    border-l-[22px] border-l-white
                                    border-y-[14px] border-y-transparent !block
                                  "
                                ></div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                  {% endcase %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
            {%- render 'icon-arrow-right' -%}
          </a>
          {% if section.settings.btn_bottom_text != blank %}
            <div
              class="text-[13px] md:text-[13px] font-normal !leading-tight text-[#001C19] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
              style="color: {{ section.settings.btn_bottom_text_color }};"
            >
              {{ section.settings.btn_bottom_text }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .section-{{ section.id }}-padding .al-carousel__slider .splide__pagination__page {
    height: 10px;
    background: transparent;
    width: 10px;
    border: 1px solid {{section.settings.color_tertiary}};
  }
  .section-{{ section.id }}-padding .al-carousel__slider .splide__pagination__page.is-active {
    background: {{section.settings.color_tertiary}};
    transform: unset;
    width: 40px;
    border-radius: 20px;
  }
  .section-{{ section.id }}-padding .al-carousel__slider .splide__pagination {
    gap: 5px;
    bottom: -40px;
    padding: 0;
    justify-content: flex-start;
  }

  .section-{{ section.id }}-padding .al-carousel__slider .splide__arrow {
    width: 48px;
    height: 48px;
    border: 2px solid {{section.settings.color_tertiary}};
    background-color: transparent;
    opacity: 1;
    top: auto;
    bottom: -80px;
  }
  .section-{{ section.id }}-padding .al-carousel__slider .splide__arrow svg {
    width: 24px;
    height: 24px;
    fill: {{section.settings.color_tertiary}};
  }
  .section-{{ section.id }}-padding .al-carousel__slider .splide__arrow--prev {
    right: 80px;
    left: auto;
  }
  .section-{{ section.id }}-padding .al-carousel__slider .splide__arrow--next {
    right: 0px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.section-{{ section.id }}-padding .al-carousel__slider', {
      perPage: 4,
      perMove: 1,
      arrows: false,
      rewind: true,
      gap: '15px',
      trimSpace: false,
      pagination: false,
      breakpoints: {
        768: {
          perPage: 1,
          arrows: false,
          gap: '10px',
          padding: { right: '60px' },
        },
      },
    });
    splide.mount();
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.nl-video-wrapper').forEach((wrapper) => {
      const video = wrapper.querySelector('.nl-video');
      const btn = wrapper.querySelector('.nl-video-play-btn');

      function togglePlay() {
        if (video.paused) {
          video.play();
          btn.classList.add('hidden');
        } else {
          video.pause();
          btn.classList.remove('hidden');
        }
      }

      btn.addEventListener('click', togglePlay);
      video.addEventListener('click', togglePlay);

      video.addEventListener('pause', () => btn.classList.remove('hidden'));
      video.addEventListener('play', () => btn.classList.add('hidden'));
    });
  });
</script>

{% schema %}
{
  "name": "AH Video Carousel",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#001C19"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "richtext",
      "id": "btn_bottom_text",
      "label": "Btn Bottom Text"
    },
    {
      "type": "color",
      "id": "btn_bottom_text_color",
      "label": "Buttom Bottom Text Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AH Video Carousel"
    }
  ]
}
{% endschema %}
