{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5"
  style="background-color: {{ section.settings.bgcolor }};"
>
  <div class="mx-auto w-full" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-12">
      <div class="flex flex-col w-full gap-4">
        {% if section.settings.heading != blank %}
          <h2
            class="text-[28px] md:text-[32px] font-bold !leading-tight text-[#000] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div
            class="text-[18px] md:text-[18px] font-normal !leading-tight text-[#000] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if section.settings.description_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.description_color }};"
          >
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>

      {% assign max_width = section.settings.max_width %}
      {% assign max_width_px = max_width | append: 'px' %}
      {% unless section.settings.image_bottom %}
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: max_width
            | image_tag: class: 'w-full section-main-image', sizes: max_width_px
          }}
        {% endif %}
      {% endunless %}

      {% if section.blocks.size > 0 %}
        <div class="w-full">
          <div class="overflow-x-auto">
            <div class="min-w-[570px] grid {% if section.settings.col_count == "3" %} grid-cols-3 {% endif %} {% if section.settings.col_count == "4" %} grid-cols-4 {% endif %}">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'row' %}
                    {% if block.settings.description1 != blank %}
                      <div
                        class="py-3 px-1 md:px-3 {% if block.settings.header %} text-[18px] md:text-[20px] font-semibold !py-7 text-center justify-center  {% else %} text-[14px] md:text-[16px] font-bold !pb-7  {% endif %} !leading-tight text-[#000]"
                        style="color: {{ block.settings.color1 }}; background-color: {{ block.settings.bgcolor1 }};"
                      >
                        {{ block.settings.description1 }}
                      </div>
                    {% endif %}
                    {% if block.settings.description2 != blank or block.settings.icon2 != blank %}
                      <div
                        class="flex items-center gap-1 py-3 px-1 md:px-5 {% if block.settings.item2_center %} justify-center {% endif %} {% if block.settings.header %} text-[18px] md:text-[20px] font-semibold !py-7 text-center justify-center  {% else %} an-comparison-item text-[14px] md:text-[16px] font-normal !pb-7  {% endif %} !leading-tight text-[#000] {% if block.settings.header %} rounded-t-[8px] {% endif %} {% if block.settings.last %} rounded-b-[8px] {% endif %}"
                        style="color: {{ block.settings.color2 }}; background-color: {{ block.settings.bgcolor2 }};"
                      >
                        {% if block.settings.icon2 != blank %}
                          {{
                            block.settings.icon2
                            | image_url: width: 20
                            | image_tag: class: 'w-full max-w-[16px] md:max-w-5', sizes: '20px'
                          }}
                        {% endif %}
                        <span>{{ block.settings.description2 }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.description3 != blank or block.settings.icon3 != blank %}
                      <div
                        class="flex items-center gap-1 py-3 px-1 md:px-5 {% if block.settings.item3_center %} justify-center {% endif %} {% if block.settings.header %} text-[18px] md:text-[20px] font-semibold !py-7 text-center  justify-center  {% else %} an-comparison-item text-[14px] md:text-[16px] font-normal !pb-7  {% endif %} !leading-tight text-[#000]"
                        style="color: {{ block.settings.color3 }}; background-color: {{ block.settings.bgcolor3 }};"
                      >
                        {% if block.settings.icon3 != blank %}
                          {{
                            block.settings.icon3
                            | image_url: width: 20
                            | image_tag: class: 'w-full max-w-[16px] md:max-w-5', sizes: '20px'
                          }}
                        {% endif %}
                        <span>{{ block.settings.description3 }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.description4 != blank or block.settings.icon4 != blank %}
                      <div
                        class="flex items-center gap-1 py-3 px-1 md:px-5 {% if block.settings.item4_center %} justify-center {% endif %} {% if block.settings.header %} text-[18px] md:text-[20px] font-semibold !py-7 text-center justify-center {% else %} an-comparison-item text-[14px] md:text-[16px] font-normal !pb-7  {% endif %} !leading-tight text-[#000]"
                        style="color: {{ block.settings.color4 }}; background-color: {{ block.settings.bgcolor4 }};"
                      >
                        {% if block.settings.icon4 != blank %}
                          {{
                            block.settings.icon4
                            | image_url: width: 20
                            | image_tag: class: 'w-full max-w-[16px] md:max-w-5', sizes: '20px'
                          }}
                        {% endif %}
                        <span>{{ block.settings.description4 }}</span>
                      </div>
                    {% endif %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.image_bottom %}
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: max_width
            | image_tag: class: 'w-full section-main-image', sizes: max_width_px
          }}
        {% endif %}
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto md:min-w-[450px]">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "AN Compare Table",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#121212"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "col_count",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4",
      "label": "Col Count"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "image_bottom",
      "label": "Image Bottom",
      "default": false
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "checkbox",
          "id": "header",
          "label": "Header",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "last",
          "label": "Last",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon1",
          "label": "Icon 1"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description 1"
        },
        {
          "type": "color",
          "id": "color1",
          "label": "Color 1",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "bgcolor1",
          "label": "Background Color 1",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "item2_center",
          "label": "Item 2 Center",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon2",
          "label": "Icon 2"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description 2"
        },
        {
          "type": "color",
          "id": "color2",
          "label": "Color 2",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "bgcolor2",
          "label": "Background Color 2",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "item3_center",
          "label": "Item 3 Center",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon3",
          "label": "Icon 3"
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description 3"
        },
        {
          "type": "color",
          "id": "color3",
          "label": "Color 3",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "bgcolor3",
          "label": "Background Color 3",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "item4_center",
          "label": "Item 4 Center",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon4",
          "label": "Icon 4"
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description 4"
        },
        {
          "type": "color",
          "id": "color4",
          "label": "Color 4",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "bgcolor4",
          "label": "Background Color 4",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AN Compare Table"
    }
  ]
}
{% endschema %}
