{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding .new-button--primary {
      font-size: 14px;
      padding: 10px 8px;
      width: fit-content;
    }
    .section-{{ section.id }}-padding .button, .section-{{ section.id }}-padding a {
      min-height: 36px;
      height: 36px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="gm-sticky-add-cart hidden [&.active]:block section-{{ section.id }}-padding px-2 md:px-5 fixed bottom-0 left-0 w-full z-[100]"
  style="background-color: {{ section.settings.bgcolor }}; box-shadow: 0px 0px 6.7px 1px #A4A4A440;"
>
  <div class="mx-auto w-full" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex items-center justify-between gap-4 md:gap-6">
      {% if section.settings.image != blank %}
        {{
          section.settings.image
          | image_url: width: 64
          | image_tag: class: 'w-full section-main-image max-w-[64px]', sizes: '64px'
        }}
      {% endif %}

      <div class="flex-1 flex flex-col md:flex-row md:items-center md:justify-between gap-2 md:gap-7">
        <div class="flex flex-col gap-0 flex-1">
          {% if section.settings.heading != blank %}
            <h2
              class="text-[16px] md:text-[20px] font-bold !leading-tight text-[#000] max-w-[280px] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
              style="color: {{ section.settings.heading_color }};"
            >
              {{ section.settings.heading }}
            </h2>
          {% endif %}
          {% if section.settings.product != blank %}
            <div id="price-{{ section.id }}" role="status" {{ section.shopify_attributes }}>
              {%- render 'price-tertiary',
                product: section.settings.product,
                use_variant: true,
                show_badges: true,
                price_class: 'price--large'
              -%}
            </div>
          {% endif %}
        </div>

        <div class="flex items-center gap-2 md:gap-4">
          {% if section.settings.button_label != blank %}
            <div class="w-fit md:w-fit mx-auto">
              <a
                href="{{ section.settings.button_url }}"
                class="new-button--primary !whitespace-nowrap"
              >
                {{ section.settings.button_label }}
              </a>
            </div>
          {% endif %}
          {% if section.settings.button_label2 != blank %}
            {% comment %}
              <div class="w-fit md:w-fit mx-auto">
                <a
                  href="{{ section.settings.button_url }}"
                  class="new-button--secondary"
                >
                  {{ section.settings.button_label2 }}
                </a>
              </div>
            {% endcomment %}
            {% if section.settings.product != blank %}
              {%- assign product_form_id = 'product-form-' | append: section.id -%}
              {%- render 'buy-buttons--tertiary-mk',
                product: section.settings.product,
                product_form_id: product_form_id,
                section_id: section.id
              -%}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function updateActiveClass() {
    const target = document.querySelector('.section-{{ section.id }}-padding.gm-sticky-add-cart');
    if (!target) return;

    if (window.scrollY > 900) {
      target.classList.add('active');
    } else {
      target.classList.remove('active');
    }
  }

  window.addEventListener('load', updateActiveClass);
  window.addEventListener('scroll', updateActiveClass);
</script>

{% schema %}
{
  "name": "AN Sticky Add Cart",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#121212"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#121212"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_label2",
      "label": "Button Label2"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AN Sticky Add Cart"
    }
  ]
}
{% endschema %}
