{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #shopify-section-nl-header,
  #shopify-section-nl-animation-secondary,
  footer {
    display: none!important;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class=""
>
  <div
    class="mx-auto w-full"
    style="max-width: {{ section.settings.max_width }}px; background-color: {{ section.settings.bgcolor }}"
  >
    {% for block in section.blocks %}
      {% if block.type == 'header' %}
        <div class="px-5 py-3 flex items-center justify-center" style="background-color: {{ block.settings.bgcolor }}">
          {% if block.settings.image != blank %}
            {{
              block.settings.image
              | image_url: width: 160
              | image_tag: class: 'w-full max-w-[160px]', sizes: '160px'
            }}
          {% endif %}
          {% if block.settings.heading != blank %}
            <h3 class="text-[14px] md:text-[16px] font-bold !leading-[1] text-[#fff] m-0">
              {{ block.settings.heading }}
            </h3>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="section-{{ section.id }}-padding px-5 flex flex-col items-center justify-center gap-6 md:gap-12">
      {% if section.settings.heading != blank %}
        <h2 class="text-[24px] md:text-[48px] font-bold !leading-tight text-[#000C38]">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="text-[18px] md:text-[24px] font-normal !leading-tight text-[#333]">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="flex flex-col gap-6 w-full">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'row' %}
                <div class="flex flex-col gap-2">
                  {% if block.settings.heading != blank %}
                    <div class="text-[26px] font-bold !leading-tight text-[#333] {% if block.settings.center_heading %} text-center {% endif %}">
                      {{ block.settings.heading }}
                    </div>
                  {% endif %}

                  {% if block.settings.description != blank %}
                    <div class="text-[16px] font-normal !leading-tight text-[#333] {% if block.settings.center_description %} text-center {% endif %}">
                      {{ block.settings.description }}
                    </div>
                  {% endif %}

                  {% if block.settings.image != blank %}
                    {{ block.settings.image | image_url: width: 600 | image_tag: class: 'w-full', sizes: '600px' }}
                  {% endif %}

                  {% if block.settings.button_label != blank %}
                    <div class="w-full">
                      <a href="{{ block.settings.button_url }}" class="new-button--primary !text-center">
                        {{ block.settings.button_label }}
                        {%- render 'icon-arrow-right' -%}
                      </a>
                    </div>
                  {% endif %}
                </div>

              {% when 'horizon_features' %}
                <div class="grid grid-cols-{{block.settings.col_count}} gap-1">
                  {% for i in (1..8) %}
                    {% assign description_name = 'description' | append: i %}
                    {% assign description = block.settings[description_name] %}

                    {% if description != blank %}
                      <div
                        class="w-full flex flex-col items-center text-center gap-1 p-2 rounded-[5px]"
                        style="background-color: {{ block.settings.bgcolor }}"
                      >
                        {% if block.settings.icon != blank %}
                          {{
                            block.settings.icon
                            | image_url: width: 24
                            | image_tag: class: 'w-full h-fit object-contain max-w-[24px]'
                          }}
                        {% endif %}
                        <div
                          class="text-[11px] font-normal !leading-[1.5] text-[#FFFAEE] text-center"
                          style="color: {{ block.settings.color }};"
                        >
                          {{ description }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

              {% when 'v_features_icon_dif' %}
                <div class="flex flex-col gap-2">
                  {% for i in (1..8) %}
                    {% assign description_name = 'description' | append: i %}
                    {% assign description = block.settings[description_name] %}
                    {% assign image_name = 'icon' | append: i %}
                    {% assign image = block.settings[image_name] %}

                    {% if description != blank %}
                      <div
                        class="w-full flex items-center gap-2 {% if block.settings.card %} p-3 {% endif %} rounded-[5px]"
                        style="background-color: {{ block.settings.bgcolor }}"
                      >
                        {% if image != blank %}
                          {% if block.settings.icon_big %}
                            {{
                              image
                              | image_url: width: 32
                              | image_tag: class: 'w-full h-fit object-contain max-w-[32px]'
                            }}
                          {% else %}
                            {{
                              image
                              | image_url: width: 24
                              | image_tag: class: 'w-full h-fit object-contain max-w-[24px]'
                            }}
                          {% endif %}
                        {% endif %}
                        <div
                          class="text-[16px] font-normal !leading-[1.5] text-[#fff]"
                          style="color: {{ block.settings.color }};"
                        >
                          {{ description }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

              {% when 'vertical_features' %}
                <div class="flex flex-col gap-2">
                  {% for i in (1..8) %}
                    {% assign description_name = 'description' | append: i %}
                    {% assign description = block.settings[description_name] %}

                    {% if description != blank %}
                      <div
                        class="w-full flex items-center gap-2 {% if block.settings.card %} p-3 {% endif %} rounded-[5px]"
                        style="background-color: {{ block.settings.bgcolor }}"
                      >
                        {% if block.settings.icon != blank %}
                          {% if block.settings.icon_big %}
                            {{
                              block.settings.icon
                              | image_url: width: 32
                              | image_tag: class: 'w-full h-fit object-contain max-w-[32px]'
                            }}
                          {% else %}
                            {{
                              block.settings.icon
                              | image_url: width: 24
                              | image_tag: class: 'w-full h-fit object-contain max-w-[24px]'
                            }}
                          {% endif %}
                        {% endif %}
                        <div
                          class="text-[16px] font-normal !leading-[1.5] text-[#fff]"
                          style="color: {{ block.settings.color }};"
                        >
                          {{ description }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

              {% when 'testimonial' %}
                {% assign index_num = block.settings.index %}
                <div
                  class="px-5 py-10 flex flex-col gap-[30px] w-full"
                  style="background-color: {{ block.settings.bgcolor }}"
                >
                  {% if block.settings.heading != blank %}
                    <div class="text-[32px] font-bold !leading-tight text-[#fff]">
                      {{ block.settings.heading }}
                    </div>
                  {% endif %}

                  <div class="w-full pb-[50px]">
                    <div class="splide gp-pre-sale-carousel">
                      <div class="splide__track">
                        <div class="splide__list">
                          {% for block in section.blocks %}
                            {% case block.type %}
                              {% when 'testimonial_item' %}
                                {% if block.settings.index == index_num %}
                                  <div class="splide__slide h-auto">
                                    <div class="flex flex-col border border-[#000C38] rounded-[10px] h-full">
                                      {% if block.settings.image != blank %}
                                        {{
                                          block.settings.image
                                          | image_url: width: 400
                                          | image_tag: class: 'w-full rounded-t-[10px]', sizes: '400px'
                                        }}
                                      {% endif %}

                                      <div class="flex flex-col items-center justify-center gap-4 text-center p-5 bg-white rounded-b-[16px] flex-1">
                                        {% if block.settings.heading != blank %}
                                          <div class="text-[20px] font-bold !leading-tight text-[#333]">
                                            {{ block.settings.heading }}
                                          </div>
                                        {% endif %}

                                        {% if block.settings.description != blank %}
                                          <div class="text-[14px] font-normal !leading-tight text-[#333]">
                                            {{ block.settings.description }}
                                          </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                            {% endcase %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>

                  {% if block.settings.description != blank %}
                    <div class="text-[16px] font-normal !leading-tight text-[#fff]">
                      {{ block.settings.description }}
                    </div>
                  {% endif %}

                  {% if block.settings.button_label != blank %}
                    <div class="w-full md:w-fit md:min-w-[460px] mx-auto">
                      <a href="{{ block.settings.button_url }}" class="new-button--primary">
                        {{ block.settings.button_label }}
                        {%- render 'icon-arrow-right' -%}
                      </a>
                    </div>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
            {%- render 'icon-arrow-right' -%}
          </a>
        </div>
      {% endif %}
    </div>

    {% for block in section.blocks %}
      {% if block.type == 'footer' %}
        <div class="px-5 py-7 flex flex-col gap-10 relative" style="background-color: {{ block.settings.bgcolor }}">
          {% if block.settings.deco != blank %}
            {{
              block.settings.deco
              | image_url: width: 180
              | image_tag: class: 'w-full absolute bottom-0 right-0 max-w-[180px]', sizes: '180px'
            }}
          {% endif %}

          {% if block.settings.image != blank %}
            {{
              block.settings.image
              | image_url: width: 200
              | image_tag: class: 'w-full max-w-[200px] relative', sizes: '200px'
            }}
          {% endif %}

          <div class="flex flex-col gap-[10px] relative">
            {% if block.settings.heading != blank %}
              <div class="text-[16px] font-semibold !leading-tight text-[#fff]">
                {{ block.settings.heading }}
              </div>
            {% endif %}

            {% if block.settings.description != blank %}
              <div class="text-[12px] font-normal !leading-tight text-[#fff]">
                {{ block.settings.description }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.section-{{ section.id }}-padding .gp-pre-sale-carousel', {
      perPage: 1,
      perMove: 1,
      rewind: true,
      gap: '15px',
      trimSpace: false,
      pagination: true,
      arrows: false,
      padding: { left: '0px', right: '70px' },
    });
    splide.mount();
  });
</script>

<style>
  .section-{{ section.id }}-padding .gp-pre-sale-carousel .splide__pagination__page {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid white;
        margin: 0 7px;
        opacity: 1;
  }
  .section-{{ section.id }}-padding .gp-pre-sale-carousel .splide__pagination__page.is-active {
    background: white;
  }
  .section-{{ section.id }}-padding .gp-pre-sale-carousel .splide__pagination {
    bottom: -46px;
  }
</style>

{% schema %}
{
  "name": "Pre Sale Main",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "Header",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "footer",
      "name": "Footer",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },

        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "deco",
          "label": "Deco"
        }
      ]
    },
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "center_heading",
          "label": "Center Heading",
          "default": false
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "center_description",
          "label": "Center Description",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "index",
          "label": "Index"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "testimonial_item",
      "name": "Testimonial Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "index",
          "label": "Index"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "horizon_features",
      "name": "Horizon Features",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "col_count",
          "label": "Col Count",
          "default": "5"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description 1"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description 2"
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description 3"
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description 4"
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description 5"
        },
        {
          "type": "richtext",
          "id": "description6",
          "label": "Description 6"
        },
        {
          "type": "richtext",
          "id": "description7",
          "label": "Description 7"
        },
        {
          "type": "richtext",
          "id": "description8",
          "label": "Description 8"
        }
      ]
    },
    {
      "type": "vertical_features",
      "name": "Vertical Features",
      "settings": [
        {
          "type": "checkbox",
          "id": "card",
          "label": "Card Style",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "icon_big",
          "label": "Icon Big",
          "default": false
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description 1"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description 2"
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description 3"
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description 4"
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description 5"
        },
        {
          "type": "richtext",
          "id": "description6",
          "label": "Description 6"
        },
        {
          "type": "richtext",
          "id": "description7",
          "label": "Description 7"
        },
        {
          "type": "richtext",
          "id": "description8",
          "label": "Description 8"
        }
      ]
    },
    {
      "type": "v_features_icon_dif",
      "name": "V Features - Icon Differ",
      "settings": [
        {
          "type": "checkbox",
          "id": "card",
          "label": "Card Style",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "icon_big",
          "label": "Icon Big",
          "default": false
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#000C38"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "image_picker",
          "id": "icon1",
          "label": "Icon1"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description 1"
        },
        {
          "type": "image_picker",
          "id": "icon2",
          "label": "Icon2"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description 2"
        },
        {
          "type": "image_picker",
          "id": "icon3",
          "label": "Icon3"
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description 3"
        },
        {
          "type": "image_picker",
          "id": "icon4",
          "label": "Icon4"
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description 4"
        },
        {
          "type": "image_picker",
          "id": "icon5",
          "label": "Icon5"
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description 5"
        },
        {
          "type": "image_picker",
          "id": "icon6",
          "label": "Icon6"
        },
        {
          "type": "richtext",
          "id": "description6",
          "label": "Description 6"
        },
        {
          "type": "image_picker",
          "id": "icon7",
          "label": "Icon7"
        },
        {
          "type": "richtext",
          "id": "description7",
          "label": "Description 7"
        },
        {
          "type": "image_picker",
          "id": "icon8",
          "label": "Icon8"
        },
        {
          "type": "richtext",
          "id": "description8",
          "label": "Description 8"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pre Sale Main"
    }
  ]
}
{% endschema %}
