<div class="sticky-add-to-cart section-{{ section.id }}-padding">
  <a href="{{section.settings.link}}" class="new-button--tertiary sticky-add-to-cart__btn">
    {{ section.settings.btn_text }}
    {%- render 'icon-arrow-right-black' -%}
  </a>
  {% unless section.settings.hide_shipping %}
    {% render 'custom-shipping' %}
  {% endunless %}
</div>

<style>
  .section-{{ section.id }}-padding .sticky-add-to-cart__btn  {
    color: {{ section.settings.primary_color }};
  }
  .section-{{ section.id }}-padding .ship-by {
    color: {{ section.settings.secondary_color }};
  }
  .section-{{ section.id }}-padding .ship-by__right--dot {
    background-color: {{ section.settings.secondary_color }};
  }

  .sticky-add-to-cart {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    background: {{section.settings.bgcolor}};
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .sticky-add-to-cart.active {
    display: flex;
  }

  .sticky-add-to-cart .ship-by {
    margin-bottom: 0;
    font-size: 10px;
  }

  .sticky-add-to-cart__btn {
    color: #fff;
    background: #84F75D;
    border: unset;
    padding: 10px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: unset;
  }

  #buyButtonBundle, #chooseBetween2 {
    scroll-margin-top: -40px;
  }

  #buyButtonBundle .product-form {
    margin-bottom: 0;
  }

  @media screen and (min-width: 750px) {
    .sticky-add-to-cart, .sticky-add-to-cart.active {
      /* display: none; */
    }
    .sticky-add-to-cart__btn {
      width: fit-content!important;
      margin: auto;
      min-width: 460px;
    }
    .sticky-add-to-cart {
      padding: 12px;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mainVisitorElement = document.querySelector('#mainProducts .ship-by__left--visitor-count');
    const stickyVisitorElement = document.querySelector('.sticky-add-to-cart .ship-by__left--visitor-count');

    if (mainVisitorElement && stickyVisitorElement) {
      const mainVisitorCount = mainVisitorElement.textContent;
      stickyVisitorElement.textContent = mainVisitorCount;
    }

    window.addEventListener('scroll', () => {
      const stickyElement = document.querySelector('.sticky-add-to-cart');

      if (window.scrollY > 1800) {
        stickyElement.classList.add('active');
      } else {
        stickyElement.classList.remove('active');
      }
    });

    // document.querySelector(".sticky-add-to-cart__btn").addEventListener("click", () => {
    //   const submitButton = document.querySelector(".product-form__submit");
    //   if (submitButton) {
    //     submitButton.click();
    //   }
    // });
  });
</script>

{% schema %}
{
  "name": "Sticky Add To Cart",
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#08421F"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Color",
      "default": "#08421F"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background Color",
      "default": "#f0f8fe"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "ADD TO CART"
    },
    {
      "type": "checkbox",
      "id": "hide_shipping",
      "label": "Hide Shipping",
      "default": false
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Sticky Add To Cart"
    }
  ]
}
{% endschema %}
