{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  .section-{{ section.id }}-padding .tc-introduce {
    background: radial-gradient(118.21% 91.82% at -13.77% -40.82%, #E8FF33 0%, #00B7A2 100%);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-padding .tc-introduce {
      background: radial-gradient(26.21% 174.82% at 2.23% -94.82%, #E8FF33 0%, #00B7A2 100%);
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5 relative"
  style="background-color: {{ section.settings.bgcolor }}; background: linear-gradient(180deg, #00B7A2 0%, #EFF6F6 52.14%);"
>
  {% if section.settings.bg != blank %}
    {{
      section.settings.bg
      | image_url: width: 1920
      | image_tag: class: 'absolute top-0 left-0 w-full h-full object-cover', sizes: '1920px'
    }}
  {% endif %}

  <div class="mx-auto w-full relative" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-10 md:gap-[60px]">
      <div class="flex flex-col items-center justify-center gap-6 md:gap-10 w-full">
        {% if section.settings.label != blank %}
          <div
            class="max-w-[650px] mx-auto text-[28px] md:text-[36px] font-bold !leading-tight text-[#001C19]  {% if section.settings.label_m_center %} max-md:text-center {% endif %} {% if section.settings.label_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.label_color }};"
          >
            {{ section.settings.label }}
          </div>
        {% endif %}

        {% if section.blocks.size > 0 %}
          <div class="w-full grid md:grid-cols-3 gap-4 md:gap-6">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'row' %}
                  <div class="splide__slide">
                    <div
                      class="flex flex-col w-full gap-3 p-4 rounded-[10px] h-full"
                      style="background-color: {{ block.settings.bgcolor }};"
                    >
                      {% if block.settings.image != blank %}
                        {{
                          block.settings.image
                          | image_url: width: 300
                          | image_tag: class: 'w-full rounded-[10px] h-fit object-contain', sizes: '300px'
                        }}
                      {% endif %}

                      <div class="flex-1 flex flex-col gap-2 items-center justify-center">
                        {% if block.settings.heading != blank %}
                          <div
                            class="text-[18px] md:text-[20px] font-bold !leading-tight text-[#001C19]  {% if block.settings.heading_m_center %} max-md:text-center {% endif %} {% if block.settings.heading_d_center %} md:text-center {% endif %}"
                            style="color: {{ block.settings.heading_color }};"
                          >
                            {{ block.settings.heading }}
                          </div>
                        {% endif %}

                        {% if block.settings.description != blank %}
                          <div
                            class="{% if block.settings.small_description %} text-[12px] md:text-[14px] {% else %} text-[16px] md:text-[18px] {% endif %} font-normal !leading-[1.5] text-[#000] {% if block.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
                            style="color: {{ block.settings.description_color }};"
                          >
                            {{ block.settings.description }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="flex flex-col items-center justify-center gap-2 md:gap-4">
        {% if section.settings.heading != blank %}
          <h2
            class="max-w-[680px] mx-auto text-[28px] md:text-[48px] font-bold !leading-tight text-[#001C19] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div
            class="text-[16px] md:text-[20px] font-medium !leading-tight text-[#001C19] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if section.settings.description_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.description_color }};"
          >
            {{ section.settings.description }}
          </div>
        {% endif %}

        {% if section.settings.subheading1 != blank %}
          <div
            class="text-[20px] md:text-[28px] font-bold !leading-tight text-[#001C19]  text-center mt-6 mb-6"
            style="color: {{ section.settings.subheading_color }};"
          >
            {{ section.settings.subheading1 }}
          </div>
        {% endif %}

        {% if section.blocks.size > 0 %}
          <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 max-w-[920px] mx-auto">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'row2' %}
                  <div
                    class="flex md:flex-col items-center gap-3 md:gap-6"
                  >
                    {% if block.settings.image != blank %}
                      {{
                        block.settings.image
                        | image_url: width: 300
                        | image_tag: class: 'w-full max-w-[100px] md:max-w-[300px] object-contain', sizes: '300px'
                      }}
                    {% endif %}

                    <div class="flex flex-col items-start md:items-center gap-1 md:gap-2">
                      {% if block.settings.heading != blank %}
                        <div
                          class="text-[17px] md:text-[17px] font-bold !leading-tight text-[#001C19]  {% if block.settings.heading_m_center %} max-md:text-center {% endif %} {% if block.settings.heading_d_center %} md:text-center {% endif %}"
                          style="color: {{ block.settings.heading_color }};"
                        >
                          {{ block.settings.heading }}
                        </div>
                      {% endif %}

                      {% if block.settings.description != blank %}
                        <div
                          class="{% if block.settings.small_description %} text-[12px] md:text-[14px] {% else %} text-[16px] md:text-[17px] {% endif %} font-normal !leading-tight text-[#000] {% if block.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
                          style="color: {{ block.settings.description_color }};"
                        >
                          {{ block.settings.description }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="flex flex-col items-center justify-center gap-6 md:gap-10">
        {% if section.settings.subheading2 != blank %}
          <div
            class="text-[20px] md:text-[28px] font-bold !leading-tight text-[#001C19]  text-center"
            style="color: {{ section.settings.subheading_color }};"
          >
            {{ section.settings.subheading2 }}
          </div>
        {% endif %}

        {% if section.blocks.size > 0 %}
          <div class="w-full flex flex-col gap-6">
            <div
              class="tc-introduce w-full grid md:grid-cols-2 border border-[#D5D5D5] rounded-[10px] md:rounded-[25px] px-3 md:px-6 py-4 md:py-7 gap-5"
              style=""
            >
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'row3' %}
                    <div class="grid md:grid-cols-5 {% if forloop.last %} max-md:border-t md:border-l max-md:pt-5 md:pl-5 border-[#D5D5D5] {% endif %}">
                      {% if block.settings.image != blank %}
                        <div class="md:col-span-2 flex items-center justify-center">
                          {{
                            block.settings.image
                            | image_url: width: 400
                            | image_tag:
                              class: 'w-full max-h-[160px] md:max-h-[360px] mx-auto object-contain',
                              sizes: '400px'
                          }}
                        </div>

                        <div class="md:col-span-3 flex flex-col w-full gap-4">
                          {% assign icon = block.settings.icon %}

                          {% if block.settings.label != blank %}
                            <div
                              class="border border-[#000000] max-md:mx-auto px-5 py-[10px] bg-[#E8FF33] rounded-[100px] text-[16px] md:text-[17px] w-fit font-bold !leading-tight text-[#001C19] flex items-center justify-center gap-2 {% if block.settings.label_m_center %} max-md:text-center {% endif %} {% if block.settings.label_d_center %} md:text-center {% endif %}"
                              style="color: {{ block.settings.label_color }};"
                            >
                              {{ block.settings.label }}
                            </div>
                          {% endif %}

                          {% if block.settings.heading != blank %}
                            <div
                              class="text-[16px] md:text-[17px] font-bold !leading-tight text-[#001C19]  {% if block.settings.heading_m_center %} max-md:text-center {% endif %} {% if block.settings.heading_d_center %} md:text-center {% endif %}"
                              style="color: {{ block.settings.heading_color }};"
                            >
                              {{ block.settings.heading }}
                            </div>
                          {% endif %}

                          <div class="w-fit flex flex-col gap-1 md:gap-2">
                            {% for i in (1..8) %}
                              {% assign description_name = 'description' | append: i %}
                              {% assign description = block.settings[description_name] %}

                              {% if description != blank %}
                                <div class="flex gap-2 items-center">
                                  {% if icon != blank %}
                                    {{
                                      icon
                                      | image_url: width: 16
                                      | image_tag: class: 'w-full max-w-[16px] h-fit object-contain', sizes: '16px'
                                    }}
                                  {% endif %}
                                  <div
                                    class="{% if block.settings.small_description %} text-[12px] md:text-[14px] {% else %} text-[16px] md:text-[17px] {% endif %} font-normal !leading-[1.5] text-[#000] {% if block.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
                                    style="color: {{ block.settings.description_color }};"
                                  >
                                    {{ description }}
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.text != blank %}
          <div
            class="text-[16px] md:text-[17px] font-medium !leading-tight text-[#001C19]  text-center"
          >
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto flex flex-col items-center justify-center gap-3">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
          </a>
          {% if section.settings.btn_bottom_text != blank %}
            <div
              class="text-[13px] md:text-[13px] font-medium !leading-tight text-[#001C19] flex items-center justify-center gap-2 {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
              style="color: {{ section.settings.btn_bottom_text_color }};"
            >
              {% if section.settings.btn_bottom_icon != blank %}
                {{
                  section.settings.btn_bottom_icon
                  | image_url: width: 16
                  | image_tag: class: 'w-full max-w-[16px] h-fit object-contain', sizes: '16px'
                }}
              {% endif %}
              {{ section.settings.btn_bottom_text }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% comment %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var splide = new Splide('.section-{{ section.id }}-padding .tc-introduce__slider', {
        perPage: 1,
        perMove: 1,
        rewind: true,
        gap: '15px',
        trimSpace: false,
        pagination: false,
        mediaQuery: 'min',
        arrows: true,
        padding: { right: '0' },
        breakpoints: {
          750: {
            destroy: true,
          },
        },
      });
      splide.mount();
    });
  </script>

  <style>
    .section-{{ section.id }}-padding .tc-introduce__slider .splide__arrow {
      background: #E8FF33;
      opacity: 1;
    }
    .section-{{ section.id }}-padding .tc-introduce__slider .splide__arrow svg {
      width: 12px;
      height: 12px;
      fill: #000;
    }
    .section-{{ section.id }}-padding .tc-introduce__slider .splide__arrow--prev {
      bottom: -60px;
      left: calc(50% - 50px);
      top: auto;
      }
    .section-{{ section.id }}-padding .tc-introduce__slider .splide__arrow--next {
      bottom: -60px;
      top: auto;
      right: calc(50% - 50px);
    }
  </style>
{% endcomment %}

{% schema %}
{
  "name": "TC Introduce",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "html",
      "id": "label",
      "label": "Label"
    },
    {
      "type": "checkbox",
      "id": "label_m_center",
      "label": "Label Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "label_d_center",
      "label": "Label Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "label_color",
      "label": "Label Color",
      "default": "#001C19"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#001C19"
    },
    {
      "type": "html",
      "id": "subheading1",
      "label": "SubHeading 1"
    },
    {
      "type": "html",
      "id": "subheading2",
      "label": "SubHeading 2"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "SubHeading Color",
      "default": "#001C19"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#001C19"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "btn_bottom_icon",
      "label": "Btn Bottom Icon"
    },
    {
      "type": "richtext",
      "id": "btn_bottom_text",
      "label": "Btn Bottom Text"
    },
    {
      "type": "color",
      "id": "btn_bottom_text_color",
      "label": "Buttom Bottom Text Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#F4F4F6"
        },
        {
          "type": "html",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "checkbox",
          "id": "label_m_center",
          "label": "Label Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "label_d_center",
          "label": "Label Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label Color",
          "default": "#001C19"
        },
        {
          "type": "html",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_m_center",
          "label": "Heading Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "heading_d_center",
          "label": "Heading Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#001C19"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "description_m_center",
          "label": "Description Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "description_d_center",
          "label": "Description Desktop Center",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "small_description",
          "label": "Description Small",
          "default": false
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "richtext",
          "id": "btn_bottom_text",
          "label": "Btn Bottom Text"
        },
        {
          "type": "color",
          "id": "btn_bottom_text_color",
          "label": "Buttom Bottom Text Color",
          "default": "#001C19"
        }
      ]
    },
    {
      "type": "row2",
      "name": "Row 2",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#F4F4F6"
        },
        {
          "type": "html",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "checkbox",
          "id": "label_m_center",
          "label": "Label Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "label_d_center",
          "label": "Label Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label Color",
          "default": "#001C19"
        },
        {
          "type": "html",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_m_center",
          "label": "Heading Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "heading_d_center",
          "label": "Heading Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#001C19"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "description_m_center",
          "label": "Description Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "description_d_center",
          "label": "Description Desktop Center",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "small_description",
          "label": "Description Small",
          "default": false
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "richtext",
          "id": "btn_bottom_text",
          "label": "Btn Bottom Text"
        },
        {
          "type": "color",
          "id": "btn_bottom_text_color",
          "label": "Buttom Bottom Text Color",
          "default": "#001C19"
        }
      ]
    },
    {
      "type": "row3",
      "name": "Row 3",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#F4F4F6"
        },
        {
          "type": "html",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "checkbox",
          "id": "label_m_center",
          "label": "Label Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "label_d_center",
          "label": "Label Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label Color",
          "default": "#001C19"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_m_center",
          "label": "Heading Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "heading_d_center",
          "label": "Heading Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#001C19"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description 1"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description 2"
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description 3"
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description 4"
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description 5"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Introduce"
    }
  ]
}
{% endschema %}
