{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

{% assign product = section.settings.product %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5 relative"
  style="background-color: {{ section.settings.bgcolor }};"
>
  {% if section.settings.bg != blank %}
    {{
      section.settings.bg
      | image_url: width: 1920
      | image_tag: class: 'absolute top-0 left-0 w-full h-full object-cover', sizes: '1920px'
    }}
  {% endif %}

  <div class="mx-auto w-full relative" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-10">
      <div class="flex flex-col items-center justify-center gap-3 md:gap-4 max-w-[720px] mx-auto">
        {% if section.settings.heading != blank %}
          <h2
            class="text-[28px] md:text-[36px] font-bold !leading-tight text-[#001C19] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div
            class="text-[16px] md:text-[17px] font-medium !leading-tight text-[#001C19] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if section.settings.description_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.description_color }};"
          >
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>

      {% if section.blocks.size > 0 %}
        <div class="tc-product-cards w-full grid grid-cols-1 md:grid-cols-4 gap-4">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'card' %}
                <div class="rounded-[10px] flex justify-end w-full flex-col">
                  {% if block.settings.badge != blank %}
                    <div
                      class="text-base font-medium text-center !leading-tight p-[6px] md:p-2 rounded-t-[10px]"
                      style="color: {{ block.settings.badge_color }}; background-color: {{ block.settings.badge_bgcolor }};"
                    >
                      {{ block.settings.badge }}
                    </div>
                  {% else %}
                    <div class="hidden md:!block h-[36px] w-full"></div>
                  {% endif %}
                  <div
                    class="flex flex-col w-full gap-3 p-4 {% if block.settings.badge != blank %} rounded-b-[10px] {% else %} rounded-[10px] {% endif %} h-full"
                    style="background-color: {{ block.settings.bgcolor }};"
                  >
                    {% if block.settings.image != blank %}
                      {{
                        block.settings.image
                        | image_url: width: 300
                        | image_tag: class: 'w-full rounded-[10px] h-fit object-contain', sizes: '300px'
                      }}
                    {% endif %}

                    <div class="flex-1 flex flex-col gap-4 justify-between">
                      <div class="flex flex-col gap-3">
                        {% if block.settings.label != blank %}
                          <div
                            class="text-[17px] md:text-[17px] font-medium !leading-tight text-[#001C19] text-center"
                            style="color: {{ block.settings.label_color }};"
                          >
                            {{ block.settings.label }}
                          </div>
                        {% endif %}

                        <div class="flex items-center justify-between gap-3">
                          <div class="flex items-center gap-2">
                            {% if block.settings.price != blank %}
                              <div
                                class="text-[20px] md:text-[20px] font-bold !leading-tight text-[#001C19]"
                                style="color: {{ block.settings.price_color }};"
                              >
                                {{ block.settings.price }}
                              </div>
                            {% endif %}
                            {% if block.settings.compare_price != blank %}
                              <div
                                class="text-[20px] md:text-[20px] font-bold !leading-tight text-[#8E8E8E] line-through"
                                style="color: {{ block.settings.compare_price_color }};"
                              >
                                {{ block.settings.compare_price }}
                              </div>
                            {% endif %}
                          </div>

                          {% if block.settings.description != blank %}
                            <div
                              class="text-[13px] md:text-[13px] font-normal px-2 py-1 bg-[#E8FF33] !leading-tight text-[#001C19]"
                              style="color: {{ block.settings.description_color }};"
                            >
                              {{ block.settings.description }}
                            </div>
                          {% endif %}
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                          {% if block.settings.variant_text1 != blank %}
                            <div
                              data-id="{{ block.id }}"
                              data-variant-id="{{ block.settings.variant_id1 }}"
                              class="tc-product-cards__variant active bg-white cursor-pointer [&.active]:bg-[#EDFFFD] [&.active]:border-[#00B7A2] text-[12px] md:text-[12px] font-normal p-2 !leading-tight text-[#001C19] text-center border border-[#D9DDE0] rounded-[100px]"
                            >
                              {{ block.settings.variant_text1 }}
                            </div>
                          {% endif %}
                          {% if block.settings.variant_text2 != blank %}
                            <div
                              data-id="{{ block.id }}"
                              data-variant-id="{{ block.settings.variant_id2 }}"
                              class="tc-product-cards__variant bg-white [&.active]:bg-[#EDFFFD] cursor-pointer [&.active]:border-[#00B7A2] text-[12px] md:text-[12px] font-normal p-2 !leading-tight text-[#001C19] text-center border border-[#D9DDE0] rounded-[100px]"
                            >
                              {{ block.settings.variant_text2 }}
                            </div>
                          {% endif %}
                        </div>
                      </div>

                      <div class="flex gap-3 justify-between">
                        {% if block.settings.button_label != blank %}
                          <div class="w-full">
                            {%- render 'buy-buttons-product-card',
                              block: block,
                              product: product,
                              product_form_id: product_form_id,
                              section_id: section.id,
                              variant_id: block.settings.variant_id1
                            -%}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto flex flex-col items-center justify-center gap-3">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
          </a>
          {% if section.settings.btn_bottom_text != blank %}
            <div
              class="text-[13px] md:text-[13px] font-medium !leading-tight text-[#001C19] flex items-center justify-center gap-2 {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
              style="color: {{ section.settings.btn_bottom_text_color }};"
            >
              {% if section.settings.btn_bottom_icon != blank %}
                {{
                  section.settings.btn_bottom_icon
                  | image_url: width: 16
                  | image_tag: class: 'w-full max-w-[16px] h-fit object-contain', sizes: '16px'
                }}
              {% endif %}
              {{ section.settings.btn_bottom_text }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="w-full grid grid-cols-1 md:grid-cols-4 gap-4 max-w-[1140px] mx-auto">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'feature' %}
                <div
                  class="flex items-center gap-3"
                >
                  {% if block.settings.image != blank %}
                    {{
                      block.settings.image
                      | image_url: width: 56
                      | image_tag: class: 'w-full max-w-[56px] h-fit object-contain', sizes: '56px'
                    }}
                  {% endif %}

                  {% if block.settings.description != blank %}
                    <div
                      class="text-[13px] md:text-[13px] font-medium !leading-tight text-[#001C19]"
                      style="color: {{ block.settings.description_color }};"
                    >
                      {{ block.settings.description }}
                    </div>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const variants = document.querySelectorAll('.section-{{ section.id }}-padding .tc-product-cards__variant');

    variants.forEach((variant) => {
      variant.addEventListener('click', function () {
        const blockId = this.dataset.id;
        const variantId = this.dataset.variantId;

        // Remove active from all variants in this block
        document
          .querySelectorAll(`.section-{{ section.id }}-padding .tc-product-cards__variant[data-id="${blockId}"]`)
          .forEach((v) => v.classList.remove('active'));

        // Add active to clicked one
        this.classList.add('active');

        // Update the hidden input
        const input = document.querySelector(
          `.section-{{ section.id }}-padding .product-variant-id[data-id="${blockId}"]`
        );
        if (input) {
          input.value = variantId;
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "TC Product Cards",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#001C19"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "btn_bottom_icon",
      "label": "Btn Bottom Icon"
    },
    {
      "type": "richtext",
      "id": "btn_bottom_text",
      "label": "Btn Bottom Text"
    },
    {
      "type": "color",
      "id": "btn_bottom_text_color",
      "label": "Buttom Bottom Text Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "variant_id1",
          "label": "Variant ID 1"
        },
        {
          "type": "text",
          "id": "variant_text1",
          "label": "Variant Text 1"
        },
        {
          "type": "text",
          "id": "variant_id2",
          "label": "Variant ID 2"
        },
        {
          "type": "text",
          "id": "variant_text2",
          "label": "Variant Text 2"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#F4F4F6"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "html",
          "id": "badge",
          "label": "Badge"
        },
        {
          "type": "color",
          "id": "badge_bgcolor",
          "label": "Badge BG Color",
          "default": "#FF5E00"
        },
        {
          "type": "color",
          "id": "badge_color",
          "label": "Badge Color",
          "default": "#FFF"
        },
        {
          "type": "html",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label Color",
          "default": "#001C19"
        },
        {
          "type": "html",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "color",
          "id": "price_color",
          "label": "Price Color",
          "default": "#001C19"
        },
        {
          "type": "html",
          "id": "compare_price",
          "label": "Compare Price"
        },
        {
          "type": "color",
          "id": "compare_price_color",
          "label": "Compare Price Color",
          "default": "#001C19"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Product Cards"
    }
  ]
}
{% endschema %}
