{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .section-main-image {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5 relative"
  style="background-color: {{ section.settings.bgcolor }}; background: radial-gradient(39.51% 225% at 52.68% -125%, #E8FF33 0%, #00B7A2 100%);"
>
  {% if section.settings.bg != blank %}
    {{
      section.settings.bg
      | image_url: width: 1920
      | image_tag: class: 'absolute top-0 left-0 w-full h-full object-cover', sizes: '1920px'
    }}
  {% endif %}

  <div class="mx-auto w-full relative" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-10">
      <div class="flex flex-col items-center justify-center gap-3 md:gap-4">
        {% if section.settings.heading != blank %}
          <h2
            class="text-[28px] md:text-[36px] font-bold !leading-tight text-[#001C19] {% if section.settings.heading_m_center %} max-md:text-center {% endif %} {% if section.settings.heading_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.description != blank %}
          <div
            class="text-[16px] md:text-[17px] font-normal !leading-tight text-[#001C19] {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if section.settings.description_d_center %} md:text-center {% endif %}"
            style="color: {{ section.settings.description_color }};"
          >
            {{ section.settings.description }}
          </div>
        {% endif %}

        {% assign max_width = 740 %}
        {% comment %} {% assign max_width = section.settings.max_width |  divided_by: 2 %} {% endcomment %}
        {% assign max_width_px = max_width | append: 'px' %}
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: max_width
            | image_tag: class: 'w-full section-main-image', sizes: max_width_px
          }}
        {% endif %}
      </div>

      {% if section.blocks.size > 0 %}
        <div class="w-full flex flex-wrap md:flex-nowrap justify-center md:justify-between gap-4">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'row' %}
                <div
                  class="flex flex-col gap-4 items-center max-w-[28%] md:max-w-[150px] mx-auto"
                >
                  {% if block.settings.image != blank %}
                    {{
                      block.settings.image
                      | image_url: width: 100
                      | image_tag: class: 'w-full max-w-[64px] md:max-w-[100px]', sizes: '100px'
                    }}
                  {% endif %}
                  {% if block.settings.heading != blank %}
                    <div
                      class="text-[17px] md:text-[17px] font-bold !leading-tight text-[#001C19]  {% if block.settings.heading_m_center %} max-md:text-center {% endif %} {% if block.settings.heading_d_center %} md:text-center {% endif %}"
                      style="color: {{ block.settings.heading_color }};"
                    >
                      {{ block.settings.heading }}
                    </div>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto flex flex-col items-center justify-center gap-3">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--secondary"
          >
            {{ section.settings.button_label }}
          </a>
          {% if section.settings.btn_bottom_text != blank %}
            <div
              class="text-[13px] md:text-[13px] font-medium !leading-tight text-[#001C19] flex items-center justify-center gap-2 {% if section.settings.description_m_center %} max-md:text-center {% endif %} {% if block.settings.description_d_center %} md:text-center {% endif %}"
              style="color: {{ section.settings.btn_bottom_text_color }};"
            >
              {% if section.settings.btn_bottom_icon != blank %}
                {{
                  section.settings.btn_bottom_icon
                  | image_url: width: 16
                  | image_tag: class: 'w-full max-w-[16px] h-fit object-contain', sizes: '16px'
                }}
              {% endif %}
              {{ section.settings.btn_bottom_text }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TC Promise",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_m_center",
      "label": "Heading Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "heading_d_center",
      "label": "Heading Desktop Center",
      "default": true
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#001C19"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "description_m_center",
      "label": "Description Mobile Center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_d_center",
      "label": "Description Desktop Center",
      "default": false
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "btn_bottom_icon",
      "label": "Btn Bottom Icon"
    },
    {
      "type": "richtext",
      "id": "btn_bottom_text",
      "label": "Btn Bottom Text"
    },
    {
      "type": "color",
      "id": "btn_bottom_text_color",
      "label": "Buttom Bottom Text Color",
      "default": "#001C19"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background Color",
          "default": "#F4F4F6"
        },
        {
          "type": "html",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "checkbox",
          "id": "label_m_center",
          "label": "Label Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "label_d_center",
          "label": "Label Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Label Color",
          "default": "#001C19"
        },
        {
          "type": "html",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_m_center",
          "label": "Heading Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "heading_d_center",
          "label": "Heading Desktop Center",
          "default": true
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#001C19"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "description_m_center",
          "label": "Description Mobile Center",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "description_d_center",
          "label": "Description Desktop Center",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "small_description",
          "label": "Description Small",
          "default": false
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#001C19"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "richtext",
          "id": "btn_bottom_text",
          "label": "Btn Bottom Text"
        },
        {
          "type": "color",
          "id": "btn_bottom_text_color",
          "label": "Buttom Bottom Text Color",
          "default": "#001C19"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TC Promise"
    }
  ]
}
{% endschema %}
